<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="Sales_DBEntities" connectionString="metadata=res://*/SalesModel.csdl|res://*/SalesModel.ssdl|res://*/SalesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Sales_DB;persist security info=True;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

	<system.web>
		<!-- Configuración de autenticación -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login" timeout="2880" slidingExpiration="true" />
		</authentication>

		<!-- Configuración de autorización -->
		<authorization>
			<deny users="?" />
			<!-- Bloquea usuarios anónimos -->
			<allow users="*" />
			<!-- Permite acceso a usuarios autenticados -->
		</authorization>

		<!-- Configuración de compilación -->
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<!-- Configuración de seguridad adicional -->
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx" />
	</system.web>

	<system.webServer>
		<!-- Forzar HTTPS -->
		<rewrite>
			<rules>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>

		<!-- Políticas de seguridad -->
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="DENY" />
				<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; style-src 'self';" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
